<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Pagina 4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Page Info</ion-card-subtitle>
      <ion-card-title>Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>This is Page 4</p>
      <ion-toggle>Enable Feature</ion-toggle>
    </ion-card-content>
  </ion-card>
</ion-content>