<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Pagina 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido a la 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button color="primary">Button 1</ion-button>
      <ion-button color="secondary">Button 2</ion-button>
      <ion-button color="secondary">Button 2</ion-button>
      <ion-checkbox>Option</ion-checkbox>
    </ion-card-content>
  </ion-card>
</ion-content>
