<ion-header>
  <ion-toolbar>
    <ion-title>Componentes de Ionic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button routerLink="/page1">Pagina 1</ion-item>
    <ion-item button routerLink="/page2">Pagina 2</ion-item>
    <ion-item button routerLink="/page3">Pagina 3</ion-item>
    <ion-item button routerLink="/page4">Pagina 4</ion-item>
    <ion-item button routerLink="/page5">Pagina 5</ion-item>
    <ion-item button routerLink="/page6">Pagina 6</ion-item>
    <ion-item button routerLink="/page7">Pagina 7</ion-item>
    <ion-item button routerLink="/page8">Pagina 8</ion-item>
    <ion-item button routerLink="/page9">Pagina 9</ion-item>
  </ion-list>
</ion-content>